.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  z-index: 1000;
  -webkit-animation: loadingoff 1s 2.5s forwards;
          animation: loadingoff 1s 2.5s forwards;
}

.obj {
  width: 10px;
  height: 60px;
  background: var(--colorhow-hover);
  margin: 0 3px;
  border-radius: 10px;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.obj:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.obj:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.obj:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.obj:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.obj:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loading {
  0% {
    height: 0px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 0px;
  }
}

@keyframes loading {
  0% {
    height: 0px;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 0px;
  }
}
@-webkit-keyframes loadingoff {
  0% {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loadingoff {
  0% {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.main-restaurants-fav:hover .fa-heart-empty,
.main-restaurants-fav .fa-heart-full {
  display: none;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-restaurants-fav:hover .fa-heart-full {
  color: transparent;
  display: block;
  opacity: 1;
}

.fa-heart-full {
  -webkit-animation: like 1.5s;
          animation: like 1.5s;
}

@-webkit-keyframes progressive {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes progressive {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=animations.css.map */