@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --violet: #9356dc;
  --rose: #ff79da;
  --turquoise: #99e2d0;
  --lightgrey: #f6f6f6;
  --grey: #eaeaea;
  --mauve: #f5edff;
  --noir: #353535;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.btn {
  background-image: linear-gradient(
    to right bottom,
    #ff79da,
    #e86edb,
    #cf64dc,
    #b35cdc,
    #9356dc
  );
  &.btn-explore {
    margin: 1rem 5rem 1rem 5rem;
    padding: 1rem;
    border-radius: 30px;
  }
}

.main-nav {
  border: blue solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.main-nav-discover {
    background: var(--lightgrey);
  }
}
